.main-card {
    margin-top: 124px;
    margin-left: 280px;
}

.component-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 4px;
    font-size: 18px;
    font-weight: 600;
}

.border-bottom-1 {
    border-bottom: solid 2px #0a4275;
    margin-left: 4px;
    margin-right: 8px;
    margin-bottom: 15px;
}

.inner-card {
    max-width: 90%;
    padding: 28px;
}

.button-1 {
    margin-left: 18px;
}