.main-screen {
    padding-top: 68px;
    padding-left: 18px;
    padding-right: 18px;
}

.card-onboarding {
    height: 50%;
    width: 100%;
}

.text-padding-1 {
    padding: 10px;
}

.padding-1 {
    padding-left: 10px;
}

.button-1 {
    text-align: center;
}

.text-align-1 {
    text-align: left;
}