<div class="main-screen">
    <ul data-te-stepper-init
        class="relative m-0 flex list-none justify-between overflow-hidden p-0 transition-[height] duration-200 ease-in-out">
        <!--First item-->
        <li data-te-stepper-step-ref data-te-stepper-step-active class="w-[4.5rem] flex-auto">
            <div data-te-stepper-head-ref
                class="flex cursor-pointer items-center pl-2 leading-[1.3rem] no-underline after:ml-2 after:h-px after:w-full after:flex-1 after:bg-[#e0e0e0] after:content-[''] hover:bg-[#f9f9f9] focus:outline-none dark:after:bg-neutral-600 dark:hover:bg-[#3b3b3b]">
                <span data-te-stepper-head-icon-ref
                    class="my-6 mr-2 flex h-[1.938rem] w-[1.938rem] items-center justify-center rounded-full bg-[#ebedef] text-sm font-medium text-[#40464f]">
                    1
                </span>
                <span data-te-stepper-head-text-ref
                    class="font-medium text-neutral-500 after:flex after:text-[0.8rem] after:content-[data-content] dark:text-neutral-300">
                    Step 1
                </span>
            </div>
            <div data-te-stepper-content-ref class="absolute w-full p-4 transition-all duration-500 ease-in-out">
                <div class="container my-24 mx-auto md:px-6">
                    <section class="mb-32 text-center">
                        <div class="px-6 py-12 md:px-12">
                            <h2 class="my-12 text-5xl font-bold tracking-tight">
                                Embark on Seamless Collaboration: <br />
                                <span class="text-primary dark:text-primary-400">Your Ticket to a New Development
                                    Adventure!</span>
                            </h2>
                        </div>
                    </section>
                </div>
            </div>
        </li>

        <!--Second item-->
        <li data-te-stepper-step-ref class="w-[4.5rem] flex-auto">
            <div data-te-stepper-head-ref
                class="flex cursor-pointer items-center leading-[1.3rem] no-underline before:mr-2 before:h-px before:w-full before:flex-1 before:bg-[#e0e0e0] before:content-[''] after:ml-2 after:h-px after:w-full after:flex-1 after:bg-[#e0e0e0] after:content-[''] hover:bg-[#f9f9f9] focus:outline-none dark:before:bg-neutral-600 dark:after:bg-neutral-600 dark:hover:bg-[#3b3b3b]">
                <span data-te-stepper-head-icon-ref
                    class="my-6 mr-2 flex h-[1.938rem] w-[1.938rem] items-center justify-center rounded-full bg-[#ebedef] text-sm font-medium text-[#40464f]">
                    2
                </span>
                <span data-te-stepper-head-text-ref
                    class="text-neutral-500 after:flex after:text-[0.8rem] after:content-[data-content] dark:text-neutral-300">
                    Step 2
                </span>
            </div>
            <div data-te-stepper-content-ref
                class="absolute left-0 w-full translate-x-[150%] p-4 transition-all duration-500 ease-in-out">
                <div class="">
                    <div
                        class="block rounded-lg bg-white text-center shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                        <div
                            class="border-b-2 border-neutral-100 px-6 py-3 dark:border-neutral-600 dark:text-neutral-50">
                            Hello Tanmay Singh
                        </div>
                        <div class="p-6">
                            <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                                Welcome to Dynamo Ticketing Tool
                            </h5>
                            <div
                                class="text-align-1 mb-2 text-l font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                                About Application
                            </div>
                            <p class="text-align-1 mb-4 text-base text-neutral-600 dark:text-neutral-200">
                                Dynamo Ticketing Tool Software – a powerful solution designed to streamline and enhance
                                the software development process. This document serves as an introduction to our
                                ticketing tool, providing an overview of its features, benefits, and how it can be
                                effectively utilized during application onboarding.
                            </p>
                            <div
                                class="text-align-1 mb-2 text-l font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                                Terms and conditions
                            </div>
                            <div class="text-align-1 mb-4 text-base text-neutral-600 dark:text-neutral-200">
                                <ul>
                                    <li><strong>Acceptance of Terms:</strong> By using this service, you agree to be
                                        bound by these terms and conditions.</li>
                                    <li><strong>License and Use:</strong> You are granted a non-exclusive,
                                        non-transferable license to use the service for personal use only.</li>
                                    <li><strong>User Responsibilities:</strong> Users are responsible for the security
                                        and confidentiality of their account information.</li>
                                    <li><strong>Intellectual Property:</strong> All content and materials provided by
                                        the service are protected by intellectual property laws.</li>
                                    <li><strong>Limitation of Liability:</strong> The service is provided "as-is," and
                                        the company is not liable for any damages resulting from its use.</li>
                                    <li><strong>Privacy:</strong> User data is handled in accordance with the privacy
                                        policy.</li>
                                    <li><strong>Termination:</strong> The company reserves the right to terminate access
                                        to the service for violation of these terms.</li>
                                    <li><strong>Governing Law:</strong> These terms are governed by the laws of [Your
                                        Jurisdiction].</li>
                                    <li><strong>Changes to Terms and Conditions:</strong> The company reserves the right
                                        to update these terms at any time.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <!--Third item-->
        <li data-te-stepper-step-ref class="w-[4.5rem] flex-auto">
            <div data-te-stepper-head-ref
                class="flex cursor-pointer items-center pr-2 leading-[1.3rem] no-underline before:mr-2 before:h-px before:w-full before:flex-1 before:bg-[#e0e0e0] before:content-[''] hover:bg-[#f9f9f9] focus:outline-none dark:before:bg-neutral-600 dark:after:bg-neutral-600 dark:hover:bg-[#3b3b3b]">
                <span data-te-stepper-head-icon-ref
                    class="my-6 mr-2 flex h-[1.938rem] w-[1.938rem] items-center justify-center rounded-full bg-[#ebedef] text-sm font-medium text-[#40464f]">
                    3
                </span>
                <span data-te-stepper-head-text-ref
                    class="text-neutral-500 after:flex after:text-[0.8rem] after:content-[data-content] dark:text-neutral-300">
                    Step 3
                </span>
            </div>
            <div data-te-stepper-content-ref
                class="absolute left-0 w-full translate-x-[150%] p-4 transition-all duration-500 ease-in-out">
                <div
                    class="card-onboarding block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                    <h5
                        class="button-1 padding-1 mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                        Kindly confirm the information provided.
                    </h5>
                    <div class="text-padding-1">
                        <div class="relative mb-3" data-te-input-wrapper-init>
                            <input type="text"
                                class="peer block min-h-[auto] w-full rounded border-0 bg-neutral-100 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:bg-neutral-700 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                                id="exampleFormControlInput50" value="Tata Consultancy Limited | Code: 52"
                                aria-label="readonly input example" readonly />
                            <label for="exampleFormControlInput50"
                                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">Company
                                Name and Company Code
                            </label>
                        </div>
                    </div>
                    <div class="text-padding-1">
                        <div class="relative mb-3" data-te-input-wrapper-init>
                            <input type="text"
                                class="peer block min-h-[auto] w-full rounded border-0 bg-neutral-100 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:bg-neutral-700 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                                id="exampleFormControlInput50" value="alice.smith@techinnovators.com"
                                aria-label="readonly input example" readonly />
                            <label for="exampleFormControlInput50"
                                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">My
                                Email Id
                            </label>
                        </div>
                    </div>
                    <div class="text-padding-1">
                        <div class="relative mb-3" data-te-input-wrapper-init>
                            <input type="text"
                                class="peer block min-h-[auto] w-full rounded border-0 bg-neutral-100 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:bg-neutral-700 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                                id="exampleFormControlInput50" value="Super User" aria-label="readonly input example"
                                readonly />
                            <label for="exampleFormControlInput50"
                                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">My
                                Role
                            </label>
                        </div>
                    </div>
                    <div class="text-padding-1">
                        <div class="relative mb-3" data-te-input-wrapper-init>
                            <input type="text"
                                class="peer block min-h-[auto] w-full rounded border-0 bg-neutral-100 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:bg-neutral-700 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                                id="exampleFormControlInput50" value="Software Developer"
                                aria-label="readonly input example" readonly />
                            <label for="exampleFormControlInput50"
                                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">My
                                Designation
                            </label>
                        </div>
                    </div>
                    <div class="padding-1 button-1" (click)="acceptAndContinue()">
                        <button type="button"
                            class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                            data-te-ripple-init data-te-ripple-color="light">
                            Agree and Confirm
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>