<!--Breadcrump component-->
<div class="main-card" *ngIf="onboardingFlag">
    <nav class="w-full rounded-md bg-neutral-100 px-5 py-3 dark:bg-neutral-600">
        <ol class="list-reset flex">
            <li *ngFor="let elements of sectionArray">
                <span
                    class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">{{elements}}</span>
                <span class="mx-2 text-neutral-500 dark:text-neutral-300">/</span>
            </li>
            <li class="text-neutral-500 dark:text-neutral-300">{{ sectionArrayLastElement }}</li>
        </ol>
    </nav>
</div>